body {
  font-family: 'Open Sans', sans-serif;
}

.bg-pink {
  background: #FF9B33
}

.bg-sec {
  background: #609970
}

.navbar-brand img {
  width: 15rem;
}

footer img {
  width: 4.3rem;
}

@media screen and (max-width: 320px) {

    h1 {
        font-size: 2.1rem !important;
        line-height : 2.9rem;
    }

    footer img {
        width: 3.2rem;
        padding-top: 1rem;
    }

    .navbar-brand img {
      margin-left: 0.1rem;
      width: 12rem;
    }
}
